*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    text-align: center;
    gap: 20px;
}
.box{
    border: 2px solid black;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
#grey{
    background-color: grey;
}
#purple{
    background-color: purple;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
